*{
    margin: 0px;
    padding: 0px;

}
body{
    background: rgb(87, 142, 204);
    font-family: sans-serif;
    font-size: 1.3rem;
    display: block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    border-radius: 25px;
  }
  
  .title {
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover {
    opacity: 0.6;
    background: white;
    color: #000;
  }

  a:hover .fa-linkedin{
    opacity: 0.6;
    color: #0e76a8;
  }

  a:hover .fa-github{
    opacity: 0.6;
    color: aliceblue;
  }

  .img{
    width:100%;
    border-radius: 25px;
}

   h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}